* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #cf9aaf;
}
.container {
  width: min(90%, 1122px);
  margin: 0 auto;
}
a {
  text-decoration: none;
}
header {
  /* padding: 20px 0px; */
  background-color: var(--primary-color);
  height: 70px;
}

nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 15px;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  color: #fff;
  font-size: 20px;
}
nav .logo {
  font-size: 40px;
  color: #fff;
}

/* show-case */
section.show-case {
  /* padding: 20px 0px; */
  background: #f5ebef;
}

.show-case .hero {
  padding: 20px 0px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
}

.show-case .hero img {
  width: 80%;
  height: 300px;
}
.show-case .hero .left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.show-case .hero .left > * {
  margin: 20px 0px;
}
.show-case .hero .left h1 {
  font-size: 25px;
  font-weight: bold;
}
.show-case .hero .left p {
  font-size: 20px;
}
.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  background: #bb7893;
  color: #fff;
  cursor: pointer;
}
/* sections blogs */
section.blogs {
  padding: 20px 0px;
  /* border: 1px solid #ccc; */
  background: #faf5f7;
}
section.blogs .posts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
section.blogs .post {
  padding: 20px;
  background-color: #f5ebef;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

section.blogs .post img {
  width: 500px;
  height: 500px;
  border-radius: 10px;
}
/* footer */

footer {
  padding: 40px 0px;
  height: 50px;
  background-color: var(--primary-color);
  color: #fff;
}

/* singup */
.content {
  width: 100%;
  height: 100vh;
  background-color: #f5ebef;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 60%;
  /* width: 700px; */
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
form .form-control {
  width: 50%;
  display: flex;
  flex-direction: column;
}
input {
  padding: 10px 15px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #ccc;
  width: 100%;
}
form .btn {
  width: 20%;
}

small {
  display: none;
}
